#logo {
    height: 150px;
    width: auto;
}
.jumbotron {
    position: relative;
    background-image: url("/assets/images/drums.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 14%;
    height: 340px;
    color: white;
    text-shadow: 3px 3px grey;
}