<div class="container-fluid">
  <!-- image -->
  <h1>40th Anniversary SF Carnaval</h1>
</div>

<!-- Change href to router links when components are up -->
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <!-- Feature to add class="active" to link currently on? -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['map']">Map</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['schedule']">Schedule</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['food']">Food</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['vendors']">Vendors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['faq']">FAQs</a>
    </li>
  </ul>
</nav>