@import "../../variables";

#logo {
    height: 300px;
    width: auto;
}
.logobox {
    height: 420px;
    width: 100%;
    background-image: url("/assets/images/40Banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.jumbotron {
    position: relative;
    background-image: url("/assets/images/crowd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 14%;
    height: 380px;
    color: $white;
    text-shadow: 3px 2px $red;
}
nav {
    background-image: url("/assets/images/navText2.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
}
.nav-link {
    color: black;
}