<div class="container-fluid">

  <div class="row justify-content-center my-3">
    <a [routerLink]="['/']">
      <img id="logo" src="/assets/images/logo.png" alt="Carnaval Logo">
    </a>

  <div class="row justify-content-center">
    <div class="logobox"></div>
  </div>
</div>

<div class="jumbotron text-center rounded-0 mb-0">
  <h1><strong>Join in May 26th-27th!</strong></h1>
</div>

<nav class="navbar navbar-expand-sm bg-light navbar-light mb-3">
  <ul class="navbar-nav mx-auto">
    <!-- Feature to add class="active" to link currently on? -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['map']">Map</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['schedule']">Schedule</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['food']">Food</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['vendors']">Vendors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['faq']">FAQs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['sponsors']">Sponsors</a>
    </li>
  </ul>
</nav>