<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="logobox col-md-12 col-sm-12 col-xs-12 text-center">
      <img src="/assets/images/40LogoClear.png" alt="">
    </div>
  </div>
</div>
<!-- <div class="jumbotron text-center rounded-0 mb-0">
  <h1><strong>Celebrate with us May 26th-27th!</strong></h1>
</div> -->

<nav class="navbar navbar-expand-sm bg-light navbar-light mb-3">
      <button class="navbar-toggler m-auto" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="basicExampleNav">
  <ul class="navbar-nav mx-auto text-center">
    <!-- Feature to add class="active" to link currently on? -->
    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
      <a class="nav-link" [routerLink]="['/']">About</a>
    </li>
    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
      <a class="nav-link" [routerLink]="['map']">Map</a>
    </li>
    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">

      <a class="nav-link" [routerLink]="['parade']">Parade Map</a>
    </li>
    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
      <a class="nav-link" [routerLink]="['schedule']">Schedule</a>
    </li>
    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
      <a class="nav-link" [routerLink]="['food']">Food</a>
    </li>
    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
      <a class="nav-link" [routerLink]="['vendors']">Vendors</a>
    </li>
    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
      <a class="nav-link" [routerLink]="['directions']">Directions</a>
    </li>
    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
      <a class="nav-link" [routerLink]="['faq']">FAQ</a>
    </li>
    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
      <a class="nav-link" [routerLink]="['sponsors']">Sponsors</a>
    <!-- </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Test</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li> -->
  </ul>
  </div>
</nav>