@import "../../variables";

@media only screen and (max-width: 1000px){
  .logobox {
    height: 200px;
    width: 100%;
    background-image: url("/assets/images/topMob2.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  nav {
    background-image: url("/assets/images/botMob2.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
  }
}

#logo {
  height: 300px;
  width: auto;
}

.logobox {
  height: 200px;
  width: 100%; // background-image: url("/assets/images/40Banner.png");
  background-image: url("/assets/images/topDesk.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center bottom;
}

// .jumbotron {
//     position: relative;
//     background-image: url("/assets/images/crowd.jpg");
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center center;
//     padding: 14%;
//     height: 380px;
//     color: $white;
//     text-shadow: 3px 2px $red;
// }
nav {
  // background-image: url("/assets/images/navText2.jpg");
  background-image: url("/assets/images/botDesk.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
}

.nav-link {
  color: black;
}

img {
  width: auto;
  height: 200px;
  object-fit: cover;
}
