ul {
    list-style-type: none;
}
#mediaIcons p {
    height: 32px;
    padding: 5px 5px;
    margin: 0px;
}
#sponsors img {
    height: 40px;
    width: auto;
}
.footer {
    background-image: url("/assets/images/footerText.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width: 500) {
}
