ul {
    list-style-type: none;
}
#mediaIcons p {
    height: 32px;
    padding: 5px 5px;
    margin: 0px;
}
#sponsors img {
    height: 40px;
    width: auto;
}
@media screen and (max-width: 500) {
}
