<div class="footer container">

   <div class="mb-3 row">
    <div class="col-12 col-sm-6 col-md-4">
      <ul>
        <li><strong>Carnaval</strong></li>
        <li>About</li>
        <li>Directions</li>
        <li>FAQ</li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <ul>
        <li><strong>Events</strong></li>
        <li>Featured</li>
        <li>Schedule</li>
        <li>Map</li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <ul>
        <li><strong>Food</strong></li>
        <li>Trucks</li>
        <li>Drinks</li>
      </ul>
    </div>
  </div>  

  <div class="row">
    <p><small>2018 Carnaval | San Francisco</small></p>
  </div>

</div>