<footer class="footer mt-4">
  <div class="container-fluid">
    <div class="row py-3 justify-content-center" id="mediaIcons">
      <i class="far fa-sun fa-2x fa-fw"></i>
      <p>Carnaval | </p>

      <i class="fab fa-facebook-square fa-2x fa-fw"></i>
      <p>Facebook | </p>

      <i class="fas fa-bullhorn fa-2x fa-fw"></i>
      <p> Get Updates</p>
    </div>

    <div class="row pb-2 justify-content-center">
      <div class="col-12 col-sm-6 col-md-4">
        <ul>
          <li>
            <strong>Carnaval</strong>
          </li>
          <li>About</li>
          <li>Directions</li>
          <li>FAQ</li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <ul>
          <li>
            <strong>Events</strong>
          </li>
          <li>Vendors & Exhibitors</li>
          <li>Parade</li>
          <li>Schedule</li>
          <li>Map</li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <ul>
          <li>
            <strong>Food</strong>
          </li>
          <li>Trucks</li>
          <li>Drinks</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <p class="pl-4">
        <small class="text-muted">2018 Carnaval | San Francisco &copy;</small>
      </p>
    </div>

  </div>
</footer>