<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="row justify-content-center">
        <div class="card mb-2">
          <img class="card-img-top" src="http://via.placeholder.com/200x150" alt="filler img">
          <h5 class="card-header">Via 24th St BART</h5>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
            <p class="card-text">Description about this event, highlighting target audience.</p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="card">
          <img class="card-img-top" src="http://via.placeholder.com/200x150" alt="filler img">
          <h5 class="card-header">Event name</h5>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
            <p class="card-text">Description about this event, highlighting target audience.</p>
          </div>
        </div>
      </div>

    </div>
    <!-- sunday column div -->
  </div>
  <!-- end of largest row div -->
</div>
<!-- end of container div -->