<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3 class="text-center">Public Transit</h3>

      <div class="row justify-content-center">
        <div class="card mb-2">
          <img class="card-img-top" src="../assets/images/BART_route.png" alt="filler img">
          <h5 class="card-header">Via BART: 24th St</h5>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
            <p class="card-text">Head north on Mission St toward 24th St. Turn right at 24th st, and main entrance is on your left at Harrison st.</p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="card">
          <img class="card-img-top" src="../assets/images/MUNI.png" alt="filler img">
          <h5 class="card-header">Via MUNI: 16th and Harrison</h5>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
            <p class="card-text">Busses stop at both the North(Route 22, 33 & 55) and South(Route 48) end of the Venue</p>
          </div>
        </div>
      </div>

      <h3 class="text-center">Driving</h3>
      <div class="row justify-content-center">
        <a class="text-muted nav-item" href="https://goo.gl/maps/vSeZ4XiLYjw" target="_blank">South Main Entrance</a>
      </div>
      <div class="row justify-content-center">
        <a class="text-muted nav-item" href="https://goo.gl/maps/HCzCE59hijK2" target="_blank">North Entrance</a>
      </div>
      <div class="row justify-content-center">
        <div class="card">
          <img class="card-img-top" src="../assets/images/South_Drive.png" alt="filler img">
          <h5 class="card-header">From South via 101</h5>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
            <p class="card-text">From 101N take the Cesar Chavez St/ Portero St exit. Follow signs to Cesar Chavez St and Turn right at Harrison St. </p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
          <div class="card">
            <img class="card-img-top" src="../assets/images/North101_Drive.png" alt="filler img">
            <h5 class="card-header">From North via 101</h5>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
              <p class="card-text">From 101S take the Harrison St Exit and continue for about 0.3 miles.</p>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
            <div class="card">
              <img class="card-img-top" src="../assets/images/North80_Drive.png" alt="filler img">
              <h5 class="card-header">From North via 80</h5>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
                <p class="card-text">From 80S take the Civic Center Exit and merge onto Harrison St. Follow Harrison St for about 0.7 miles.</p>
              </div>
            </div>
          </div>

    </div>
    <!-- sunday column div -->
  </div>
  <!-- end of largest row div -->
</div>
<!-- end of container div -->