<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3 class="text-center">Public Transit</h3>

      <div class="row justify-content-center">
        <div class="card mb-2">
          <img class="card-img-top" src="http://via.placeholder.com/200x150" alt="filler img">
          <h5 class="card-header">Via 24th St BART</h5>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
            <p class="card-text">Head north on Mission St toward 24th St. Turn right at 24th st, and main entrance is on your left at Harrison st.</p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="card">
          <img class="card-img-top" src="http://via.placeholder.com/200x150" alt="filler img">
          <h5 class="card-header">Via Church and 24th MUNI</h5>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
            <p class="card-text">Head east down 24th street and main entrance is on your left at Harrison St.</p>
          </div>
        </div>
      </div>

      <h3 class="text-center">Driving</h3>

      <div class="row justify-content-center">
        <div class="card">
          <img class="card-img-top" src="http://via.placeholder.com/200x150" alt="filler img">
          <h5 class="card-header">From South via 101</h5>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
            <p class="card-text">From 101N take the Cesar Chavez St/ Portero St exit. Follow signs to Cesar Chavez St and Turn right at Harrison St. </p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
          <div class="card">
            <img class="card-img-top" src="http://via.placeholder.com/200x150" alt="filler img">
            <h5 class="card-header">From North via 101</h5>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
              <p class="card-text">From 101S take the Harrison St Exit and continue for about 0.3 miles.</p>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
            <div class="card">
              <img class="card-img-top" src="http://via.placeholder.com/200x150" alt="filler img">
              <h5 class="card-header">From North via 80</h5>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Event time & location</h6>
                <p class="card-text">From 80S take the Civic Center Exit and merge onto Harrison St. Follow Harrison St for about 0.7 miles.</p>
              </div>
            </div>
          </div>

    </div>
    <!-- sunday column div -->
  </div>
  <!-- end of largest row div -->
</div>
<!-- end of container div -->