<div class="container">
  <h1 class="text-center foodHD">Food</h1>
  <div class="row">
    <div class="col-sm-6">
      <h4>Restaurant name:</h4>
      <p>Foods offerred | foods offered</p>
      <br>
      <h4>Restaurant name:</h4>
      <p>Foods offerred | foods offered</p>
      <br>
      <h4>Restaurant name:</h4>
      <p>Foods offerred | foods offered</p>
    </div>
    <div class="col-sm-6">
      <h4>Restaurant name:</h4>
      <p>Foods offerred | foods offered</p>
      <br>
      <h4>Restaurant name:</h4>
      <p>Foods offerred | foods offered</p>
      <br>
      <h4>Restaurant name:</h4>
      <p>Foods offerred | foods offered</p>
    </div>
  </div>
</div>