<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3 class="text-center">Saturday, May 26th, 2018</h3>
      <div class="row">
        <div class="col-sm-3">
          <h5>Event title:</h5>
        </div>
        <div class="col-sm-9">
          <p>Event Description:</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, a quo! Voluptas soluta quo reprehenderit? Incidunt
            corporis deleniti vero ea consequuntur natus, libero rem nesciunt fugit hic et dolore ipsum.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <h5>Event title:</h5>
        </div>
        <div class="col-sm-9">
          <p>Event Description:</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, a quo! Voluptas soluta quo reprehenderit? Incidunt
            corporis deleniti vero ea consequuntur natus, libero rem nesciunt fugit hic et dolore ipsum.</p>
        </div>
      </div>

    </div>
    <div class="col-sm-6">
      <h3 class="text-center">Sunday, May 27th, 2018</h3>

      <div class="row">
        <div class="col-sm-3">
          <h5>Event title:</h5>
        </div>
        <div class="col-sm-9">
          <p>Event Description:</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, a quo! Voluptas soluta quo reprehenderit? Incidunt
            corporis deleniti vero ea consequuntur natus, libero rem nesciunt fugit hic et dolore ipsum.</p>
        </div>
      </div>

    </div>
  </div>
</div>