.festTitle {
    height: 130px;
    background-image: url("/assets/images/yellowHeader.png");
    background-size: 63% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 23px;
    margin-bottom: 15px;
}