<div class="container">
  <div class="row justify-content-center">
    <h1 class="text-center sponsorsHD">Our Sponsors</h1>
  </div>
  <h3 class="lead">Thank You to Our Presenting Sponsor:</h3>
  <hr>
  <div class="row">
    <app-sponsor-each *ngFor="let sponsor of gold_sponsors" [sponsor]="sponsor"></app-sponsor-each>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="http://cwsanfrancisco.cbslocal.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/7693631fe920a90b23a94adc865214058b900ac4.jpg" alt="The CW">
      </a>
    </div>
  </div>
  <hr>
  <app-sponsor-each *ngFor="let sponsor of silver_sponsors" [sponsor]="sponsor"></app-sponsor-each>
  <hr>
  <app-sponsor-each *ngFor="let sponsor of bronze_sponsors" [sponsor]="sponsor"></app-sponsor-each>

  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <h3 class="lead">Thank You to Our Presenting Sponsor:</h3>
      <a href="https://healthy.kaiserpermanente.org/" target="_blank">
        <img class="kp" src="/assets/images/kpSpons.png" alt="Kaiser Permanente">
      </a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="http://cwsanfrancisco.cbslocal.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/7693631fe920a90b23a94adc865214058b900ac4.jpg" alt="The CW">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="http://www.sfwater.org/" target="_blank">
        <img src="https://apps.cdnini.com/i/a838f28aae0d26812521e3a0a7325945a40f9a06.png" alt="SF Water Power Sewer">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="http://www.montereybayaquarium.org/" target="_blank">
        <img src="https://apps.cdnini.com/i/76ad9317bc7459626aff366bb8d3c9479eb07799.jpg" alt="Monterey Bay Aquarium">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://www.sfmta.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/5240232de0aedb0abfca2a0cd32c2e4f77e29872.jpg" alt="SF Municipal Transportation Agency">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://www.pge.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/cc2f56bca37633a5fcd81de1bbb0cc6a3ae2904f.jpg" alt="PG&E">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="http://www.tacolist.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/3736a8544f44bf20451e586336de566f61a75b47.jpg" alt="www.tacolist.com">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="http://www.hechoencalifornia1010.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/dcec159e4c77af6895b231aea1ad8c3e1b86c283.jpg" alt="Hecho En California">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://www.dosequis.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/74b926552bc9206ac25f996fb96863dbd33a1315.jpg" alt="Dos Equis">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://www.costco.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/4af59af07bb888963cad51ad365e904513ac0731.png" alt="Costco">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://sfenvironment.org/" target="_blank">
        <img src="https://apps.cdnini.com/i/4fe92ea19279f4c669199ad79b749b592b3265f5.jpg" alt="SF Environment">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://healthy.kaiserpermanente.org/" target="_blank">
        <img src="https://apps.cdnini.com/i/752a6139ceac88dab50f614d2bf2a47f9869858c.jpg" alt="Kaiser Permanente">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://www.gene.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/aae67c8ae9d0d991012de2821431993f175806fb.jpg" alt="Genentech">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://groceryoutlet.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/22be892727f73284c973aa1679fc0d480ce24c87.jpg" alt="Grocery Outlet">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://www.honeybucket.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/5a2530d72f3bdd656f484c2e7af627af7c4c35bc.jpg" alt="Honey Bucket">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://www.facebook.com/MisterLatinJazzatJazzRadioLIVE/" target="_blank">
        <img src="https://apps.cdnini.com/i/50f8c5c342c43e075c89db04165b5baa5920d3ad.jpg" alt="Mister Latin Jazz">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="http://www.805beer.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/7d1ef7a126b3c79773dfa3ef63be9bb93999a63c.jpg" alt="Firestone Walker">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="http://www.dcyf.org/" target="_blank">
        <img src="https://apps.cdnini.com/i/0db13749fb3b4b8b51a5778c95695a723a9584b3.jpg" alt="Department of Children, Youth, and their Families">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://www.yfyi.org/" target="_blank">
        <img src="https://apps.cdnini.com/i/896ca7749987db700f655ad82c673778b0fcb396.png" alt="Youth Funding Youth Ideas">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://tecate.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/db42796599f8379cac0597796a5590c6b0c5d72d.jpg" alt="Tecate">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://www.sutterhealth.org/" target="_blank">
        <img src="https://apps.cdnini.com/i/bb82b0dd65cfb6781bd27aca61e7a1e8d2300bd2.jpg" alt="Sutter Health">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://gussmarket.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/13eb6b0b69574501b8a6793ea2ec003a19e3b4f5.jpg" alt="Gus's Community Market">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://facebook.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/05a8c71a07df520128ed3429d769e66e0f2b2096.png" alt="Facebook">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://www.telemundoareadelabahia.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/acc545473563a1b1c23533957b135abe0ab76c02.jpg" alt="Telemundo">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://kmel.iheart.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/02632063945229cd4804d911ea5e9f1ee50725dc.jpg" alt="106 KMEL">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="http://www.bart.gov/" target="_blank">
        <img src="https://apps.cdnini.com/i/eaf5643f4905aaec0025bf81efe375b304f4fabb.jpg" alt="BART">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://981thebreeze.iheart.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/5ffba46813fe545c56e637e8e6c05b310fa31d04.png" alt="98.1 KISS FM">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://www.recology.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/bf2cc9c9f7e05500582013b0d364f65a8fbde9d3.jpg" alt="Recology">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://www.healthright360.org/" target="_blank">
        <img src="https://apps.cdnini.com/i/711a3d717693697f3cb467b7569e5e33a14bcefb.jpg" alt="Health Right 360">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="http://www.knbr.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/b1a73985013b8c5dd427e75ae72bd788d0271401.jpg" alt="KNBR">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="http://sf.funcheap.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/eb1bae73405ed0f6f2af52b78990873f4e866e9c.jpg" alt="Fun Cheap SF">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="http://www.rockmed.org/" target="_blank">
        <img src="https://apps.cdnini.com/i/800497390e1be6b2ac658c5df8cacfdce87c79ac.jpg" alt="Rock Medicine">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="http://www.kfog.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/89b5c7ec95f45df5c43791353ef134ab87a1d019.jpg" alt="104.5 KFOG">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://www.xfinity.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/ee58ed23e4f80a1bcf7174ab01c626c5b1fe0c4d.jpg" alt="xfinity">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://wild949.iheart.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/bc63e94bd5e95806726f0433de1262e8b5992a30.jpg" alt="Wild949">
      </a>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="https://espndeportes910.iheart.com/" target="_blank">
        <img src="https://apps.cdnini.com/i/f3058abb7d5276cd85ca56d4567c0fdf826ba075.jpg" alt="ESPN Desportes 910">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <a href="http://www.guitarcenter.com/Services/Lessons/" target="_blank">
        <img src="https://apps.cdnini.com/i/d5591242d91cd06018c798a8a6c145f74300a8a8.jpg" alt="Guitar Center">
      </a>
    </div>
  </div>

</div>

