.sponsorsHD {
    width: 280px;
    background-image: url("/assets/images/pinkredHD.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.kp {
    max-height: 100%;
    max-width: 100%;
}